header {
  padding-top: 3rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header h2 {
  color: red;
}
